
article.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
}

article.Home div {
    display: flex;
    width: 50%;
    justify-content: space-between;
    border-radius: 25px;
    text-align: left;
    align-items: center;
    margin: 1rem;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
}

.BodyHeader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.TileButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}