* {
    background-color: whitesmoke; 
}

.App-Header {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    border-radius: 25px;
    text-align: left;
    position: relative;
    flex-direction: column;
}

.Location-Tile {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    border-radius: 25px;
    text-align: left;
    position: relative;
}

article.Home div {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    border-radius: 25px;
    text-align: left;
    align-items: center;
}
